*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
}

li {
    margin-left: 0.5rem;
}

h1, h2 {
    font-weight: 1;
    font-size: 5.1vw;
}

@font-face {
    font-family: 'bodoque';
    src: url('../font/bodoque-webfont.woff2') format('woff2'),
         url('../font/bodoque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bodoque {
    font-family: "bodoque";
}

.show-up {
    transition: all 1s;
    transition-delay: 0.3s;
    opacity: 0;
    transform: translateY(-20px);
}

.show-up.inview {
    opacity: 1;
    transform: none;
}

.main-menu-mobile {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: white;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.main-menu-mobile li a {
    color: #202721;
    font-size: 2rem;
    font-weight: 1;
    line-height: 10vh;
}

#close-menu{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    line-height: 3.5vh;
    margin-top: 1.7rem;
    margin-right: 2.7rem;
    font-size: 2rem;
}

a#simplified-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #202721, transparent);
    border-radius: 1rem;
    z-index: 5;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    color: white;
    cursor: pointer; 
}

.menu-mobile ul {
    list-style: none;
}

.menu-mobile li {
    margin-left: 0;
}

.menu-mobile, .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 0px;
}

.menu ul li a{
    position: relative;
    display: block;
    margin-top: 0.5rem;
    padding: 0.7rem;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 5px rgb(97, 129, 152);
    font-weight: 1;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

a#menu-home{
    position: absolute;
    left: 0;
    font-size: 34px;
    margin: 0.5rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

.main-menu a {
    border-bottom-left-radius: 1.6rem;
    border-top-left-radius: 1rem;
    text-align: left;
    width: 7rem;
    left: 6rem;
    transition: all 0.5s;
}

.main-menu-bg-color {
    background: linear-gradient(to top, #ffffff, transparent);
}

.main-menu a.about:hover::after {
    content: ' about';
    animation: 1s main-menu-hover forwards;
}

.main-menu a.about:hover {
    transform: translateX(-4rem);
}

.main-menu a.projects:hover::after {
    content: ' projects';
    animation: 1s main-menu-hover forwards;
}

.main-menu a.projects:hover {
    transform: translateX(-6rem);
}

.main-menu a.contact:hover::after {
    content: ' contact';
    animation: 1s main-menu-hover forwards;
}

.main-menu a.contact:hover {
    transform: translateX(-5rem);
}

.main-menu a.secrets {
    cursor: pointer;
}

.main-menu a.secrets:hover::after {
    content: ' secrets';
    animation: 1s main-menu-hover forwards;
}

.main-menu a.secrets:hover {
    transform: translateX(-5rem);
}

#home, #about, #projects, #contact {
    position: relative;
    background-color: #202721;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#about, #projects, #contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #202721, transparent);
    z-index: 2;
}

#projects {
    background-color: #2b312c;
}

#projects::after, #projects::before {
    content: '';
    width: 100%;
    height: 3.2vw;
    position: absolute;
    bottom: 0px;
    background-image: url("../img/in-between.svg");
    background-size: cover;
    z-index: 2;
    filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
}

#projects::before {
    transform: rotateZ(180deg);
    top: 0px;
    filter: drop-shadow(3px -3px 2px rgba(0, 0, 0, 0.7));
}

#contact {
    height: 92vh;
}

#contact::after {
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgb(19, 19, 19), transparent);
    z-index: 2;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.parallax {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.home-text, .section-title {
    font-family: "bodoque";
    position: relative;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(97, 129, 152);
    font-size: 5.2vw;
    margin-top: 10%;
}

.home-text {
    margin-top: 16vh;
}

.textarea-wrapper {
    margin-top: 10%;
    height: 100%;
}

.textarea-inner-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.textarea-before {
    position: absolute;
    background: linear-gradient(to bottom, #202721, transparent);
    z-index: 1;
    height: 4%;
    width: 100%;
}

.textarea-after {
    position: absolute;
    background: linear-gradient(to top, #202721, transparent);
    z-index: 1;
    height: 4%;
    width: 100%;
}

.section-title {
    position: absolute;
    font-size: 5.1vw;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    top: 0%;
    text-shadow: 2px 2px 7px white;
}

.paragraph-style{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 5px rgb(255 255 255 / 50%);
    text-align: center;
    font-size: 1.15vw;
    line-height: 20px;
    width: 100%;
    color: white;
}

.textarea-style {
    padding-top: 2%;
    background-color: transparent;
    resize: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: default;
    width: 80%;
    height: 53.5vh;
}

.textarea-style::-webkit-scrollbar {
    appearance: none;
}

.about-skills-image {
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
    transition: transform 0.8s ease-in;
}

.about-skills-image:hover {
    transform: rotateY(360deg); 
}

.landing-page, .head-or-tails, .nindoo-rpg, .myorho {
    display: flex;
    height: 100vh;
    align-items: center;
}

.nindoo-rpg, .head-or-tails, .myorho {
    display: none;
}

.project-info-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: 5%;
}

.project-title {
    text-shadow:  1px 1px 5px rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 3.7vw;
    margin-top: 11%;
    color: white;
}

.project-bt {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    font-size: 50px;
    color: rgb(242, 242, 242);
    text-shadow:  1px 1px 5px rgba(255, 255, 255, 0.5);
}

.project-image {
    width: 29.5vw;
}

.prev-bt {
    animation: prev 1s infinite;
}

.next-bt {
    animation: next 1s infinite;
}

.project-info {
    margin-top: 5%;
}

.project-image img {
    display: flex;
    align-items: center;
    margin-top: 30%;
    width: 60%;
    animation: float 1s infinite;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
}

.nindoo-rpg .project-info-content {
    width: 70%;
}

.nindoo-rpg .project-image img {
    width: 50%;
}

a {
    color: rgb(56, 206, 226);
    font-weight: bold;
    text-decoration: none;
}

.contact-logo {
    display: flex;
    justify-content: center;
    height: 50%;
}

.linkedin img, .github img {
    margin-top: 20%;
    width: 35%;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
    animation: float 1s infinite;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: rgb(19, 19, 19);
}

.footer-left, .footer-right {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.footer-left {
    position: absolute;
    left:4%;
    font-size: 1.0vw;
}

.footer-right {
    position: absolute;
    right: 5%;
    font-size: 1.4vw;
}

@keyframes main-menu-hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float {
    0%{
        transform: translateY(0rem);
    }
    40%{
        transform: translateY(0.6rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

@keyframes prev {
    0%{
        transform: translateX(0rem);
    }
    40%{
        transform: translateX(-0.6rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

@keyframes next {
    0%{
        transform: translateX(0rem);
    }
    40%{
        transform: translateX(0.6rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

@media (max-width: 980px) {
    .home-text {
        font-size: 54px;
    }
}

@media (max-width: 870px) {
    .footer-left {
        font-size: 1.5vw;
    }
    .footer-right {
        font-size: 2vw;
    }
}

@media (max-width: 800px) {
    #home {
        overflow: hidden;
    }
    .mobile-parallax {
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    h1, h2 {
        font-size: 8vw;
    }
    .section-title {
        font-size: 8vw;
    }
    .paragraph-style {
        font-size: 1.7vw;
    }
    .main-menu a.about, .main-menu a.projects, .main-menu a.contact {
        display: none;
    }
    a#simplified-menu {
        display: flex;
    }
}

@media (min-width: 499px) and (max-width: 600px){
    #home {
        overflow: hidden;
    }
    .mobile-parallax {
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .home-text {
        font-size: 9vw;
    }
    h1, h2, .section-title {
        font-size: 50px;
    }
    .section-title {
        margin-top: 13vh;
    }
    .textarea-wrapper {
        margin-top: 18%;
    }
    .paragraph-style {
        font-size: 2.4vw;
        margin-top: 0%;
    }
    .textarea-style {
        height: 45vh;
    }
    .skills {
        width: 70%;
        margin-left: 15%;
    }
    .project-title {
        font-size: 6.9vw;
        margin-top: 8vh;
    }
    .project-bt {
        font-size: 30px;
    }
    .project-info-content {
        margin-top: 8%;
    }
    .project-image img {
        width: 30vw;
        margin-left: 0vw;
        margin-top: 4vh;
    }
    .myorho .project-image img {
        width: 25vw;
        margin-left: 0vw;
        margin-top: 0vh;
    }
    .nindoo-rpg .project-image img {
        width: 12vw;
        margin-left: 7vw;
        margin-top: 1vh;
    }
    .landing-page, .head-or-tails, .nindoo-rpg, .myorho {
        display: flex;
        flex-direction: column;
    }
    .head-or-tails, .nindoo-rpg, .myorho {
        display: none;
    }
    .textarea-before {
        height: 2%;
    }
    #landing-page, #head-or-tails, #nindoo-rpg, #myorho {
        margin-top: 30%;
    }
    #contact section {
        display: block;
    }
    .linkedin img, .github img {
        margin-top: 10vh;
        width: 20vw;
    }
    .footer-left {
        font-size: 2vw;
    }
    .footer-right {
        font-size: 3vw;
    }
}

@media (orientation: portrait) and (max-width: 499px) {
    a#simplified-menu {
        margin-top: 1.5rem;
    }
    #close-menu{
        margin-right: 1.7rem;
    }
    #home {
        overflow: hidden;
    }
    .mobile-parallax {
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .home-text {
        margin-top: 22vh;
        font-size: 9vw;
    }
    h1, h2, .section-title {
        font-size: 10vw;
    }
    .section-title {
        margin-top: 17%;
    }
    .textarea-wrapper {
        margin-top: 18%;
    }
    .paragraph-style {
        font-size: 2.4vw;
        margin-top: 0%;
    }
    .textarea-style {
        height: 50vh;
    }
    .skills {
        width: 50%;
        margin-left: 25%;
    }
    .project-title {
        font-size: 6.9vw;
    }
    .project-bt {
        font-size: 30px;
    }
    .project-image img {
        width: 50vw;
        margin-left: -11vw;
    }
    .nindoo-rpg .project-image img {
        width: 35vw;
        margin-left: -6vw;
        margin-top: 25%;
    }
    .landing-page, .head-or-tails, .nindoo-rpg, .myorho {
        display: flex;
        flex-direction: column;
    }
    .head-or-tails, .nindoo-rpg, .myorho {
        display: none;
    }
    .textarea-before {
        height: 2%;
    }
    #landing-page, #head-or-tails, #nindoo-rpg, #myorho {
        margin-top: 50%;
    }
    #contact section {
        display: block;
    }
    .footer-left {
        font-size: 2vw;
    }
    .footer-right {
        font-size: 3vw;
    }
}

@media (max-height: 580px) {
    .textarea-style {
        height: 48.5vh;
    }
    .textarea-after {
        position: absolute;
        height: 6%;
    }
    .section-title {
        margin-top: 5vh;
    }
    .paragraph-style {
        font-size: 2vh;
    }
    .project-info-content {
        margin-top: 0vh;
    }
    .about-skills-image {
        width: 7vh;
        height: 7vh;
    }
    .project-image img {
        width: 19vh;
        margin-left: 5vw;
        margin-top: 2vh;
    }
    .nindoo-rpg .project-image img {
        width: 8vw;
        margin-left: 9vw;
        margin-top: 1vh;
    }
    .myorho .project-image img {
        width: 14vh;
        margin-left: 7vw;
    }
    .linkedin img, .github img {
        width: 14vh;
    }
}

@media (max-height: 420px) {
    .textarea-style {
        height: 48.5vh;
    }
    .textarea-after {
        position: absolute;
        height: 6%;
    }
}
